body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #fff;
    border: 1px solid #4B778D;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(75, 119, 141, 30%);
    width: 65%;
    margin: 8% auto;
    padding: 2rem 3rem;
}

/* Audit Trail Header */
.sales-report-header {
    color: #4B778D;
    text-align: center;
    margin: 0 0 0.8rem;
}

.search-form {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #393e46;
}

input[type=text] {
    font-size: 16px;
    width: 35%;
    height: 20px;
    margin: 10px 0 22px 5px;
}

input[type=submit] {
    height: 24px;
    margin: 10px 0 22px 15px;
    padding: 2px;
    width: 15%;
    background: #fff;
    border: 2px solid #28B5B5;
}

input[type=submit]:hover {
    color: #fff;
    background: #28B5B5;
    cursor: pointer;
}

.print-btn-div {
    margin: 1rem 0 0 0;
}

.print-btn {
    text-decoration: none;
    color: #28B5B5;
}

.print-btn:hover {
    text-decoration: underline;
    color: #4B778D;
}

/* Table CSS */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #28B5B5;
    font-size: 15px;
    text-align: left;
    position: sticky;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

tr {
    border-top: 2px solid #808080;
    height: 3rem;
    margin-bottom: 5rem;
}

/* Sidenav CSS */
.sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28B5B5;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}
  
.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #000000;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #28B5B5;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #4B778D;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

.dropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.dropdown-btn:hover {
    color: #000000;
}

.active {
    background-color: #28B5B5;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #4B778D;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}