body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 10vh auto;
    width: 85%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(75, 119, 141, 30%);
}

/* Outgoing Product Header */
.outgoing-product-h1 {
    text-align: center;
    color: #4B778D;
}

/* Outgoing Product Grid */
.outgoing-product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr
}

/* Inputs */
input[type=text],
input[type=date],
input[type=number] {
    display: block;
    width: 70%;
    height: 2rem;
    border: 1px solid #808080;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin: 0 0 0.5rem 3rem;
}

input:focus {
    box-shadow: 1px 1px 10px 1px rgb(75, 119, 141, 30%);
}

/* Button Div */
.button-div {
    text-align: center;
}

input[type=submit] {
    padding: 1rem;
    width: 30%;
    margin: 1rem 0 1rem 0;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #28B5B5;
}

input[type=submit]:hover {
    background-color: #4B778D;
}

/* Labels */
label {
    margin-left: 3rem;
}

/* Table CSS */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #28B5B5;
    font-size: 20px;
    text-align: left;
    position: sticky;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

tr {
    border-top: 2px solid #808080;
    height: 3rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 1080px) {
    .outgoing-product-grid {
        display: block;
    }

    input[type=text],
    input[type=date],
    input[type=number] {
        width: 80%;
    }

    table {
        display: block;
        margin-top: -20vh;
    }

    thead {
        display: block;
        position: relative;
        top: -9999px;
        left: -9999px;
    }

    th {
        display: block;
    }

    tbody {
        display: block;
    }

    td {
        display: block;
        text-align: left;

        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Brand Name"; }
    td:nth-of-type(3):before { content: "Type"; }
    td:nth-of-type(4):before { content: "Model"; }
    td:nth-of-type(5):before { content: "Quantity"; }

    tr {
        display: block;
        margin-bottom: 6.6rem;
    }
}


/* Sidebar CSS */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #28B5B5;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #28B5B5;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #4B778D;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

.dropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.dropdown-btn:hover {
    color: #000000;
}

.active {
    background-color: #28B5B5;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #4B778D;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* CSS alert box */
.alert {
    padding: 20px;
    background-color: #28B5B5;
    color: white;
    margin-bottom: 1rem;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}
