* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.fp-header {
    color: #4B778D;
}

.fp-container {
    background-color: #fff;
    border: 1px solid #4B778D;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(75, 119, 141, 30%);
    width: 33%;
    margin: 10% auto;
    padding: 2rem 2.5rem;
    text-align: center;
}

.fp-form {
    margin: 10px;
}

input[type=text],
input[type=email] {
    display: block;
    margin: 5px auto;
    height: 24px;
    width: 60%;
    text-align: center;
}

.fp-button {
    padding: 8px;
    margin-top: 10px;
    width: 60%;
    background: #fff;
    border: 2px solid #28B5B5;
}

.fp-button:hover {
    color: #fff;
    background: #28B5B5;
    cursor: pointer;
}

/* CSS alert box */
.alert {
    padding: 20px;
    background-color: #28B5B5;
    color: white;
    margin-bottom: 1rem;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}
